<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/pygment.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <style>p {margin-top: 1.25rem;}</style>
</head>
<body>

<!-- Nav Bar -->

<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="https://github.com/eddieajau/validator" class="button">Github</a></li>
                <li><a href="/api" class="button" target="_blank">API</a></li>
            </ul>
        </div>
        <h1>PHP Validator</h1>
        <hr />
    </div>
</div>

<!-- End Nav -->

<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
        {{ content }}
    </div>
    <!-- Sidebar -->

    <!--<aside class="large-3 columns">

        <h5>Contents</h5>
        <ul class="side-nav">
            <li><a href="/docs/first.html">First</a></li>
        </ul>

    </aside>-->

    <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->

<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
                <p>© 2014 <a href="https://github.com/eddieajau">Andrew Eddie</a></p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
